:deep(.p-datatable-wrapper) {
  thead {
    height: 60px;
    border-bottom: 1px solid gray;
    th {
      white-space: nowrap;
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  tbody {
    td {
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 0.5px solid gray;
    }
  }
}
